@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

.ocultar-scroll {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}

.ocultar-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Opera */
}

.arrastrable {
    cursor: grab;
    touch-action: pan-x;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 25s linear infinite;
}